
body {
    font-family: Georgia;
    background: #f2f2f2;
    font-size: 12px;
}

.searchBarContainer {
    text-align: center;
}

.cardBox {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 992px) {
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    padding: 0.5rem;
}

.cell {
    width: 100%;
}

.cardTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.cardImage {
    height: 200px;
    text-align: center;
    width: 100%;
    margin: 0.5rem;
}
.cardImage img {
    max-width: 100%;
    max-height: 100%;
}

.cardFlags{
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
}

.cardFlag.cardFlagChecked{
    background-color: #CCFFCD;
}

.cardFlag.cardFlagUnchecked{
    background-color: #FFCCCB;
}

 